!!!
%html
  %head
  %body
    .wrapper
      = render 'shared/side'
      .content
        .header
          .left-header
            .left-header__title
              = @group.name  
            .left-header__members
              Member：
              .member
              - @group.group_users.each do |group_user|
                = group_user.user.name
          = link_to edit_group_path(@group) do
            .right-header__button Edit               

        .messages
          = render partial: 'message', collection: @messages
        .form
          = form_for [@group, @message] do |f|
            .form__mask
              = f.text_field :body, class: 'form__mask__message', placeholder: 'type a message'
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image ,class: 'hidden'
            = f.submit 'Send', class: 'form__submit'